<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Bruh File Converter</title>
</head>
<body>
    <h1>Welcome to the Bruh Converter</h1>
    <nav>
        <a href="/convert_to_bruh">Convert Image to .bruh</a>
        <a href="/convert_to_image">Convert .bruh to Image</a>
        <a href="/view_bruh">View .bruh as Image</a>
    </nav>
</body>
</html>
